// ------------ load local fonts
@font-face {
  font-family: 'arbeiBerry';
  src: url('../fonts/arbeiberry.ttf') format('truetype');
}
@font-face {
  font-family: 'reallyFree';
  src: url("../fonts/reallyfree.ttf") format('truetype');
}

// ----------- font variables
$title-font: "arbeiBerry", sans-serif;
$body-font: "reallyFree", cursive;

// ----------- background color variables
$purple: #9b5de5;
$pink: #f15bb5;
$yellow: #fee440;
$blue: #00bbf9;
$green: #00f5d4;

// ---------------- layout
$section-margins: 0.5rem 0.2rem;

// -------------------- mix-ins
@mixin make-flexbox($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin elliptical-border($style: solid, $color: black, $width: 0.25rem, $radius: 50%){
    border-style: $style;
    border-color: $color;
    border-width: $width;
    border-radius: $radius;
}

@mixin box-shadow($blur-radius: 0.5rem, $color: black){
    box-shadow: 0 0 $blur-radius $color;
}

@mixin grow {
    /* Bounce In CREDIT: https://github.com/IanLunn/Hover/blob/master/css/hover.css*/
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    
    /* CREDIT: https://css-tricks.com/solving-sticky-hover-states-with-media-hover-hover/ */
    // hover effect not applied for touchscreen devices to avoid sticky hover effect
    @media (hover: hover){
        &:hover{
            outline: none;
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    &:focus{
        outline: none;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    &:active{
        outline: none;
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }  
}

// pulse effect
// CREDIT: https://github.com/IanLunn/Hover/blob/master/css/hover.css
@mixin pulse{
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

// ------------- global resets 
// CREDIT: WebDevSimplifed YouTube channel for example of using these reset styles
*,*::before,*::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline: none;
}

*:focus,*:active{
    outline: none;
}

html{
    font-size: 0.625rem;
}

a {
    text-decoration: none;
    color: black;
}