// import variables
@use "base";

// ------------------ header 

#header-wrapper{
    height: 8rem;
    justify-content: space-between;
}

#main-heading{
    font-family: base.$title-font;
    flex-grow: 3;
    margin: auto 0;
    font-size: 3rem;
    text-align: center;
}

#header-info-wrapper{
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i{
        font-size: 2.5rem;
        padding-bottom: .2rem;
    }
    span{
        font-size: 1.5rem;
    }
}

// -------------- scoreboards

#scoreboards-wrapper{
    height: 12rem;
    width: 60%;
    float: left;
    justify-content: space-around;
    align-items: center;
    h4{
        font-size: 2.5rem;
    }

}


// -------------- click to play

#click-to-play-wrapper{
    height: 12rem;
    width: 40%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    >span{
        font-size: 1.75rem;
    }
    i{
        font-size: 3rem;
    }
    p{
        font-size: 2rem;
    }
}

// -------------- gameboard

#gameboard-grid-container{
    display: grid;
    width: 100%;
    grid-template: repeat(8, 8rem) / 1fr 1fr;
    grid-gap: .5rem;
}

.gameboard-grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        font-size: 2rem;
    }
}

// ----------------- footer

#footer-wrapper{
    flex-direction: column;
    align-items: center;
}

#about-trigger-wrapper{
    align-items: center;
    padding-bottom: 0.1rem;
    i{
        font-size: 2.5rem;
    }
    span:not(.sr-only){
        font-size: 1.5rem;
        padding: 0 .5rem;
    }
}

#about-content-wrapper{
    display: grid;
    grid-template-areas: "dev-portfolio github-repo" "copyright copyright";
    width: 100%;
    height: 10rem;
    border-top: solid black .1rem;
    i{
        font-size: 2rem;
        padding-bottom: .5rem;
    }
    span:not(.sr-only){
        font-size: 1.25rem;
    }
    a{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #dev-portfolio-wrapper{
        grid-area: dev-portfolio;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #github-repo-wrapper{
        grid-area: github-repo;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #copyright-wrapper{
        // display copyright notice at end of about container on mobile view
        order: 1;
        grid-area: copyright;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

