// import variables
@use "base";

// ------------- layout 

.section-wrapper{
    margin: base.$section-margins;
}

// center all content vertically in viewport

body{
    min-height: 100vh;
    width: 100%;
    @include base.make-flexbox();
}

#grid-container-body{
    width: 100%;
}


// -------------- fonts

body{
    font-family: base.$body-font;
}

// ------------------------- desktop  layout
// use grid layout for whole page on desktop viewport

@media screen and (min-width: 1023px){
    #grid-container-body{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-areas: 
            "heading heading heading heading" 
            "click-to-play gameboard gameboard gameboard" 
            "scoreboard gameboard gameboard gameboard" 
            "foot foot foot foot";
    }
}

// how to play info contents

.info-contents{

    position: absolute;
    width: 80%;
    max-width: 50rem;
    z-index: 150;
    font-size: 1.5rem;
    left: 50%;
    top: 50%;
    padding: 8rem 5rem;
    transform: translate(-50%,-50%);
    background-color: base.$purple;
    @include base.elliptical-border();
    @include base.box-shadow($blur-radius: 1.5rem);

    &.hide{
        display: none;     
    }
}