// import variables
@use "base";

// ------------- layout 

.section-wrapper{
    display: flex;
    flex-direction: row;
    padding: 0 base.$section-x-padding-mobile;
}

.trigger-wrapper{
    display: flex;
}

// -------------- fonts

body{
    font-family: base.$body-font;
}