// import variables
@use "base";

// ------------- layout 

.section-wrapper{
    margin: base.$section-margins;
}

// center all content vertically in viewport

body{
    min-height: 100vh;
    width: 100%;
    @include base.make-flexbox();
}

#grid-container-body{
    width: 100%;
}


// -------------- fonts

body{
    font-family: base.$body-font;
}


// ----------- mobile

#grid-container-body{
    padding: .25rem;

    &.hide{
        visibility: hidden;
    }
}

// ------------------------- desktop  layout
// use grid layout for whole page on desktop viewport

@media screen and (min-width: 1023px){
    #grid-container-body{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-areas: 
            "heading heading heading heading" 
            "click-to-play gameboard gameboard gameboard" 
            "scoreboard gameboard gameboard gameboard" 
            "foot foot foot foot";
    }
}

// how to play info contents

// ----- mobile

.info-contents{
    color: base.$yellow;
    font-family: base.$title-font;
    position: absolute;
    width: 80%;
    max-width: 50rem;
    max-height: 60vh;
    z-index: 150;
    font-size: 1.2rem;
    text-align: center;
    left: 50%;
    top: 50%;
    padding: 3rem;
    @include base.elliptical-border($color: base.$yellow, $radius: 2rem);
    transform: translate(-50%,-50%);
    background-color: base.$purple;
    @include base.box-shadow($blur-radius: 1.5rem);

    li{
        padding: 0.2rem;
    }

    &.hide{
        display: none;     
    }
}

// ---------------------- tablet

@media screen and (min-width: 767px){
    .info-contents{
        font-size: 1.4rem;
    }
}

// ---------------------- desktop

@media screen and (min-width: 1023px){
    .info-contents{
        font-size: 1.8rem;
    }
}