// load partial files as modules
@use "variables";


// Global reset 
// CREDIT: WebDevSimplifed YouTube channel for example of using these reset styles

*,*::before,*::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: variables.$body-font;
    background-color: variables.$purple;
}

// Header 

.heading {
    font-family: variables.$title-font;
}


