@use "../base";

// -------------- click to play component

// -------------------- mobile

#click-to-play-wrapper{
    height: 12rem;
    width: 40%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    >span{
        font-size: 1.75rem;
    }
    i{
        font-size: 4rem;
    }
    p{
        font-size: 2rem;
    }
}