@use "../base";

// -------------- click to play component

// -------------------- mobile

#click-to-play-wrapper{
    @include base.make-flexbox($direction: column, $justify: space-around);
    height: 12rem;
    width: 40%;
    >span{
        font-size: 1.75rem;
    }
    i{
        font-size: 4rem;
    }
    p{
        font-size: 2rem;
    }
}