@use "../base";

// -------------- click to play component

// -------------------- mobile

#click-to-play-wrapper{
    @include base.make-flexbox($direction: column, $justify: center);
    @include base.elliptical-border();
    @include base.box-shadow();
    margin-left: 1rem;
    margin-right: 1rem;
    height: 14rem;
    width: 40%;
    float: left;
    >span{
        font-size: 1.5rem;
        padding: 1rem .5rem;
    }
    i{
        font-size: 4rem;
    }
    p{
        font-size: 1.5rem;
        padding: 1rem .5rem;
    }
}

// ------------------------ tablet

@media screen and (min-width: 767px){
    #click-to-play-wrapper{
        height: 16rem;
        
        >span{
            font-size: 2rem;
        }
        i{
            font-size: 5rem;
        }
        p{
            font-size: 2.5rem;
        }
    }

}

// ------------------------ desktop

@media screen and (min-width: 1023px){
    #click-to-play-wrapper{
        grid-area: click-to-play;
        height: 20rem;
        width: 100%;
        >span{
            font-size: 3rem;
        }
        i{
            font-size: 6rem;
        }
        p{
            font-size: 3rem;
        }
    }        
        
}