@use "../base";

// ------------ footer

// --------------------- mobile 

#footer-wrapper{
    flex-direction: column;
    align-items: center;
}

#about-trigger-wrapper{
    align-items: center;
    padding-bottom: 0.1rem;
    i{
        font-size: 2.5rem;
    }
    span:not(.sr-only){
        font-size: 1.5rem;
        padding: 0 .5rem;
    }
}

#about-content-wrapper{
    display: grid;
    grid-template-areas: "dev-portfolio github-repo" "copyright copyright";
    width: 100%;
    height: 10rem;
    border-top: solid black .1rem;
    i{
        font-size: 2rem;
        padding: .4rem 0;
    }
    span:not(.sr-only){
        font-size: 1.25rem;
    }
    a{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #dev-portfolio-wrapper{
        grid-area: dev-portfolio;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #github-repo-wrapper{
        grid-area: github-repo;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #copyright-wrapper{
        // display copyright notice at end of about container on mobile view
        order: 1;
        grid-area: copyright;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}