@use "../base";

// ------------ footer
// --------------------- mobile 
#footer-wrapper,
.modal-footer-wrapper{
    @include base.make-flexbox($direction: column);
    &.hide{
        display: none;
    }
}

#about-trigger-wrapper,
.modal-about-trigger-wrapper{
    cursor: pointer;
    @include base.make-flexbox();
    padding-bottom: 0.1rem;
    @include base.grow;
    i{
        font-size: 2.5rem;
    }
    span:not(.sr-only){
        font-size: 1.5rem;
        padding: 0 .5rem;
    }
}

#about-content-wrapper,
.modal-about-content-wrapper{
    display: grid;
    grid-template-areas: "dev-portfolio github-repo" "copyright copyright";
    width: 100%;
    height: 10rem;
    border-top: solid black .1rem;
    padding-top: .5rem;
    &.hide{
        display: none;
    }
    i{
        font-size: 2rem;
        padding: .4rem 0;
    }
    span:not(.sr-only){
        font-size: 1.25rem;
    }
    a{
        @include base.make-flexbox($direction: column, $justify: space-around);
    }
    #dev-portfolio-wrapper,
    .modal-dev-portfolio-wrapper{
        grid-area: dev-portfolio;
        @include base.make-flexbox($direction: column);
    }
    #github-repo-wrapper,
    .modal-github-repo-wrapper{
        grid-area: github-repo;
        @include base.make-flexbox($direction: column);
    }
    #copyright-wrapper,
    .modal-copyright-wrapper{
        // display copyright notice at end of about container on mobile view
        order: 1;
        padding-top: 1rem;
        grid-area: copyright;
        @include base.make-flexbox($direction: column);
    }
}

// ---------------------- tablet
@media screen and (min-width: 767px){
    #about-trigger-wrapper,
    .modal-about-trigger-wrapper{
        padding-bottom: 0.2rem;
        i{
            font-size: 4rem;
        }
        span:not(.sr-only){
            font-size: 3rem;
            padding: 0 .5rem;
        }
    }

    #about-content-wrapper,
    .modal-about-content-wrapper{
        height: 12rem;
        border-top: solid black .2rem;
        padding-top: .5rem;
        i{
            font-size: 2.5rem;
            padding: .5rem 0;
        }
        span:not(.sr-only){
            font-size: 1.5rem;
        }
    }
}

// ------------------------ desktop
@media screen and (min-width: 1023px){
    #footer-wrapper,
    .modal-footer-wrapper{
        grid-area: foot;
        width: 100%;
    }
    #about-trigger-wrapper{
        
        span:not(.sr-only){
            font-size: 2rem;   
        }
    }

    #about-content-wrapper{
        height: 15rem;
        border-top: solid black .3rem;
        span:not(.sr-only){
            font-size: 2rem;
        }
    }
}