@use "../base";

// -------------- gameboard

// -------------------- mobile

#gameboard-grid-container{
    display: grid;
    width: 100%;
    grid-template: repeat(8, 8rem) / 1fr 1fr;
    grid-gap: .5rem;
}

.gameboard-grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        font-size: 2rem;
    }
}