@use "../base";

// -------------- gameboard

// -------------------- mobile

#gameboard-grid-container{
    display: grid;
    margin: 2rem 0;
    width: 100%;
    grid-template: repeat(8, 8rem) / 1fr 1fr;
    grid-gap: .2rem;
}

.gameboard-grid-item{
    @include base.make-flexbox();
    border: solid 0.2rem black;
    span{
        font-size: 1.75rem;
    }
}

#gameboard-wrapper{
    position: relative;
}

#gameboard-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: base.$purple;

    &.hide{
        display: none;
    }
}

#gameboard-overlay-content{
    
    background-color: base.$blue;
    
    @include base.make-flexbox($direction: column);
    height: 70%;
    max-height: 40rem;
    width: calc(100% - 4rem);
    max-width: 50rem;
    margin: 1rem auto;

    h3{
        text-align: center;
        font-size: 2rem;
        padding: 1rem 0.5rem;
    }

    #gameboard-active-question span{
        font-size: 3rem;
        padding: 1rem 0.5rem;
    }

    form{
        @include base.make-flexbox($direction: column);
        padding: 1rem 0.5rem;

        input,button{
            margin: 0.5rem;
            padding: 0.5rem;
        }
    }
}

// ------------------------ tablet

@media screen and (min-width: 767px){
    #gameboard-grid-container{
    grid-template: repeat(4, 10rem) / repeat(4, 1fr);
    }

    .gameboard-grid-item{
        span{
            font-size: 2rem;
        }
    }

}

// ------------------------ desktop

@media screen and (min-width: 1023px){
    #gameboard-wrapper{
        grid-area: gameboard;
        width: 100%;
    }
    #gameboard-grid-container{
        grid-gap: 0.8rem;
    }

    .gameboard-grid-item{
        span{
            font-size: 2.5rem;
        }
    }
}