@use "../base";

// ------ header 

// -------------------- mobile

#header-wrapper,
#modal-header-wrapper{
    @include base.make-flexbox($justify: space-between);
    height: 8rem;
}

#main-heading,
#modal-main-heading{
    font-family: base.$title-font;
    flex-grow: 3;
    font-size: 2rem;
    text-align: center;
}

#header-info-wrapper,
#modal-header-info-wrapper{
    @include base.make-flexbox($direction: column);
    flex-grow: 1;
    i{
        font-size: 2.5rem;
        padding-bottom: .5rem;
    }
    span{
        font-size: 1.5rem;
        text-align: center;
    }
}

// ------------------------ tablet

@media screen and (min-width: 767px){
    #main-heading,
    #modal-main-heading{
        font-size: 3.5rem;
        flex-grow: 4;
    }

    #header-info-wrapper,
    #modal-header-info-wrapper{
        i{
            font-size: 3rem;
        }
        span{
            font-size: 1.75rem;
        }
    }

}

// ------------------------ desktop

@media screen and (min-width: 1023px){
    #header-wrapper{
        grid-area: heading;
        width: 100%;
    }
    #main-heading{
        font-size: 4.5rem;
    }

    #header-info-wrapper{
        i{
            font-size: 3.5rem;
        }
        span{
            font-size: 2rem;
        }
    }
}