@use "../base";

// ------ modals 

// ----------- all modals

// -----------  mobile

.modal-open {
  overflow: hidden;

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

// CREDIT: https://medium.com/@ResearchNowEng/making-perfectly-sized-centered-scrollable-modals-a36da09b68e6 for creating scrollable modal
.modal {
  position: fixed;
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 70rem;
  height: 100%;
  max-width: calc(100% - 2rem); 
  max-height: calc(100% - 2rem); 
  display: block;
  &.hide { 
      display: none;
    }
}

.modal-content {
  @include base.make-flexbox($direction: column, $align: stretch, $justify: space-between);
  border: 1rem solid base.$blue;
  @include base.box-shadow($color: base.$blue);
  border-radius: 3rem;
  height: 100%;
  max-height:calc(100vh - 2rem);
  width: 100%; 
  background-color: #fff;
  overflow:auto;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background-color: base.$yellow;
  opacity: 0.9;
  display: block;
    &.hide { 
      display: none;
    }
}

// -------- Welcome modal

#welcome-input-form-wrapper{
    form{
        @include base.make-flexbox($direction: column);
    }
    .player-name-wrapper{
        width: 75%;
        max-width: 25rem;
        height: 10rem;
        margin-top: 1rem;
        @include base.make-flexbox($direction: column);
        @include base.elliptical-border();
        @include base.box-shadow();
        label{
            margin-bottom: 0.5rem;
            font-size: 2.5rem;
        }
        input{
            font-size: 1rem;
        }
    }
    input{
        text-align: center;
    }
    span{
        margin-top: 2rem;
        font-size: 2rem;
    }
    .choose-difficulty-wrapper{

        width: 75%;
        height: 8rem;
        margin-top: -1rem;
        @include base.make-flexbox();
        label{
            padding: 0.75rem;
            font-size: 1.5rem;
        }
    }
    #start-game-button{
        background-color: base.$blue;
        padding: 1.5rem;
        color: base.$yellow;
        font-family: base.$title-font;
        font-size: 2rem;
        font-weight: bold;
        @include base.elliptical-border($color: base.$yellow, $width: 0.3rem);
        @include base.box-shadow($blur-radius: 1rem,);
        margin-bottom: 1rem;
        cursor: pointer;
    }
}

// --------- tablet
@media screen and (min-width: 767px){

    #welcome-input-form-wrapper{
        .player-name-wrapper{
            label{
                
                font-size: 3rem;
            }
            input{
                font-size: 1.5rem;
            }
        }
        span{
            font-size: 3rem;
        }
        .choose-difficulty-wrapper{
            label{
                padding: 0.75rem;
                font-size: 2rem;
            }
        }
    }
}



// -------- desktop
