@use "../base";

// ------ modals 

// ----------- all modals

// -----------  mobile

.modal-open {
  overflow: hidden;

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

// CREDIT: https://medium.com/@ResearchNowEng/making-perfectly-sized-centered-scrollable-modals-a36da09b68e6 for creating scrollable modal
.modal {
  position: fixed;
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 70rem;
  height: 100%;
  max-width: calc(100% - 2rem); 
  max-height: calc(100% - 2rem); 
  display: block;
  &.hide { 
      display: none;
    }
}

.modal-content {
  @include base.make-flexbox($direction: column, $align: stretch, $justify: space-between);
  border: 1rem solid base.$blue;
  @include base.box-shadow($color: base.$blue);
  border-radius: 3rem;
  height: 100%;
  max-height:calc(100vh - 2rem);
  width: 100%; 
  background-color: #fff;
  overflow:auto;

}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background-color: base.$yellow;
  opacity: 0.9;
  display: block;
    &.hide { 
      display: none;
    }
}

// -------- Welcome modal

#welcome-input-form-wrapper{

    margin-bottom: 2rem;

    &.hide{
        display: none;     
    }

    form{
        @include base.make-flexbox($direction: column);
    }
    
    #player-names-container{
        width: 100%;
        @include base.make-flexbox($direction: column);
    }

    .player-name-wrapper{
        width: 75%;
        max-width: 25rem;
        height: 12rem;
        margin-bottom: 1rem;
        @include base.make-flexbox($direction: column);
        @include base.elliptical-border($color: base.$blue);
        @include base.box-shadow();
        background-color: base.$green;
        label{
            margin-bottom: 0.5rem;
            font-size: 2.5rem;
        }
        input{
            font-size: 1.5rem;
        }
    }
    input{
        text-align: center;
    }
    span{
        margin-top: 2rem;
        font-size: 2.5rem;
    }
    .choose-difficulty-wrapper{

        width: 75%;
        height: 5rem;
        margin-top: -1rem;
        @include base.make-flexbox();
        label{
            padding: 0.75rem;
            font-size: 1.75rem;
        }
    }

    #welcome-modal-error-message1,
    #welcome-modal-error-message2{
        
        padding: 1rem;
        text-align: center;
        color: red;
        height: 1rem; 
        font-size: 1.5rem;
    }

    #welcome-modal-error-message1{
        margin-top: -0.5rem;
        
    }

    #welcome-modal-error-message2{
        margin-bottom: 2rem;
        margin-top: 0;
    }

    #start-game-button{
        background-color: base.$blue;
        padding: 1rem;
        color: base.$yellow;
        font-family: base.$title-font;
        font-size: 1.5rem;
        font-weight: bold;
        @include base.elliptical-border($color: base.$yellow, $width: 0.3rem);
        @include base.box-shadow($blur-radius: 1rem,);
        margin: .5rem;
        cursor: pointer;
        outline: none;
        @include base.grow;

    }

}

// --------- tablet
@media screen and (min-width: 767px){

    #welcome-input-form-wrapper{
        #player-names-container{
            flex-direction: row;
        }
        .player-name-wrapper{
            height: 20rem;
            margin: 1rem 2rem;
            
            label{
                
                font-size: 4rem;
            }
            input{
                font-size: 2rem;
            }
        }

        span{
            font-size: 3.5rem;
        }
        .choose-difficulty-wrapper{
            height: 8rem;

            label{
                padding: 1rem;
                font-size: 3rem;
            }
        }
        #welcome-modal-error-message1,
        #welcome-modal-error-message2{ 
            font-size: 2rem;
        }
        #start-game-button{
            padding: 1.5rem;
            font-size: 2rem;
        }
    }
    
}



// -------- desktop

@media screen and (min-width: 1023px){
    #welcome-input-form-wrapper{
        
        .player-name-wrapper{
            margin: 2rem;
        }
    }
}



// ---------- gameover modal

// --------------- mobile

#gameover-modal{

    .modal-content{
        justify-content: flex-start;
    }

    #final-results-wrapper{
        @include base.make-flexbox($justify: center);
        flex-wrap: wrap;
        align-self: center;
        

        #winner-result{
            width: 100%;
            margin: .5rem;
            padding: 3rem 2rem;
            background-color: base.$green;
            color: black;

            span{
                font-size: 2.5rem;
            }
            
        }

        .player-result{
            @include base.make-flexbox($direction: column);
            @include base.elliptical-border($color: base.$purple);
            @include base.box-shadow();
            background-color: base.$yellow;
            color: base.$blue;
        }

        #player1-result,#player2-result{
            padding: 2.5rem;
            margin: .5rem;
            width: 40%;

            .name{
                font-size: 2rem;
                margin-bottom: .5rem;
            }

            .score{
                font-size: 3rem;
            }
        
        }
            

    }

    #gameover-buttons-wrapper{
        align-self: center;
        margin: 2rem 1rem;
        @include base.make-flexbox($direction: column);

        button{
            padding: 1rem;
            background-color: base.$blue;
            cursor: pointer;
            color: base.$yellow;
            margin: .5rem;
            font-family: base.$title-font;
            font-size: 1.5rem;
            font-weight: bold;
            @include base.elliptical-border($color: base.$yellow, $width: 0.3rem);
            @include base.box-shadow($blur-radius: 1rem,);
            @include base.grow;
        }
    }

    #gameover-header{
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
        
    }

}

// ------ tablet
@media screen and (min-width: 767px){
#gameover-modal{
    #final-results-wrapper{
        #winner-result{
            margin: 2rem;
            padding: 5rem 4rem;

            span{
                font-size: 3.5rem;
            }
        }

        .player-result{
            @include base.make-flexbox($direction: column);
            @include base.elliptical-border($color: base.$purple);
            @include base.box-shadow();
            background-color: base.$yellow;
            color: base.$blue;
        }

        #player1-result,#player2-result{
            padding: 4rem;
            margin: 1.5rem;
            width: 40%;

            .name{
                font-size: 3rem;
                margin-bottom: 1rem;
            }

            .score{
                font-size: 4rem;
            }
        
        }
        #gameover-header{
            font-size: 4.5rem;
            margin-bottom: 1.5rem;
        
        }
        
    }
    #gameover-buttons-wrapper{

        button{
            padding: 1.5rem;
            margin: 1rem;
            font-size: 2rem;
        }
    }
}
}