// import variables
@use "../base";

// ------ scoreboard

// -------------------- smaller mobile

#scoreboards-wrapper{
    @include base.make-flexbox();
    height: 14rem;
    
    
    h4{
        font-size: 1.5rem;
        margin: 1rem;
        text-align: center;
    }
}

.player-scoreboard{
    
    margin: 1rem 1.25rem;
    div{
        @include base.make-flexbox();
        @include base.elliptical-border();
        @include base.box-shadow();
    }
    .main-score{
        height: 5.5rem;
        width: 5.5rem;
    }
    .score-aside{
        height: 3rem;
        width: 3rem;
        z-index: 1;
        background: red;
    }
    .score-turns{
        align-self: flex-start;
        position: relative;
        top: -1rem;
    }
}

// ------------------------ larger mobile
// extra breakpoint added to accommodate scoreboard on smaller viewports

@media screen and (min-width: 450px){
    .player-scoreboard{
        
        margin: 1rem 3rem;
        
        .main-score{
            height: 9rem;
            width: 9rem;
        }
        .score-aside{
            height: 4rem;
            width: 4rem;
            z-index: 1;
            background: red;
        }
        .score-turns{
            align-self: flex-start;
            position: relative;
            top: -1rem;
        }
    }
}



// ------------------------ tablet

@media screen and (min-width: 767px){
    #scoreboards-wrapper{
    height: 16rem;

    h4{
        font-size: 1.75rem;
    }
}

}

// ------------------------ desktop

@media screen and (min-width: 1023px){
    #scoreboards-wrapper{
        grid-area: scoreboard;
        width: 100%;
        height: 20rem;
        h4{
            font-size: 2rem;
        }
    }
    
}