// import variables
@use "../base";

// ------ scoreboard

// -------------------- mobile

#scoreboards-wrapper{
    height: 12rem;
    width: 60%;
    float: left;
    justify-content: space-around;
    align-items: center;
    h4{
        font-size: 2.5rem;
    }
}