// import variables
@use "../base";

// ------ scoreboard
// -------------------- smaller mobile
#scoreboards-wrapper{
    @include base.make-flexbox();
    height: 16rem;
    &.hide{
        visibility: hidden; // keep space on page
    }
    .scoreboard-title{
        font-size: 2rem;
        margin: 1rem;
        text-align: center;
    }
}

.player-scoreboard{
    margin: 1rem;
    @include base.make-flexbox($direction:column);
    .main-score{
        @include base.elliptical-border();
        @include base.box-shadow();
        @include base.make-flexbox($direction:column);
        height: 10rem;
        width: 7rem;
        background-color: base.$green;
        >.value{
            font-size: 4rem;
            position: relative;
            top: -2rem;
        }
        >.label{
            font-size: 1.5rem;
            position: relative;
            top: -2rem;
        }
    }
    
    .score-turns{
        @include base.make-flexbox($direction:column);
        @include base.elliptical-border();
        @include base.box-shadow();
        align-self: flex-start;
        position: relative;
        top: -1rem;
        left: -2rem;
        height: 5rem;
        width: 5rem;
        z-index: 1;
        background-color: base.$pink;
        .value{
            font-size: 1.5rem;
        }
        .label{
            font-size: 1rem;
        }
    }
}

// -------------------larger mobile/small tablet
// extra breakpoint added to accommodate scoreboard on smaller viewports
@media screen and (min-width: 500px){
    .player-scoreboard{
        .main-score{
            height: 11rem;
            width: 11rem;
        }
        .score-turns{
            align-self: flex-start;
            position: relative;
            top: -1rem;
            height: 5rem;
            width: 6rem;
            z-index: 1;
            .value{
                font-size: 1.75rem;
            }
            .label{
                font-size: 1.5rem;
            }
        }
    }
}

// ------------------------ tablet
@media screen and (min-width: 767px){
    #scoreboards-wrapper{
    height: 16rem;
        .scoreboard-title{
            font-size: 3rem;
        }
    }
    .player-scoreboard{
        .main-score{
            height: 13rem;
            width: 12rem;
            >.value{
                font-size: 6rem;
            }
            >.label{
                font-size: 2rem;
            }
        }
        .score-turns{
            height: 6rem;
            width: 7rem;
            >.value{
                font-size: 2rem;
            }
            >.label{
                font-size: 1.75rem;
            }
        }
    }
}

// ------------------------ desktop
@media screen and (min-width: 1023px){
    #scoreboards-wrapper{
        grid-area: scoreboard;
        width: 100%;
        height: 20rem;
        h4{
            font-size: 2.75rem;
        }
    }    
}