@font-face {
  font-family: "arbeiBerry";
  src: url("../fonts/ArbeiBerry-rg3Ky.ttf") format("truetype");
}
@font-face {
  font-family: "reallyFree";
  src: url("../fonts/ReallyFree-ALwl7.ttf") format("truetype");
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

*:focus {
  outline: none;
}

html {
  font-size: 0.625rem;
}

a {
  text-decoration: none;
  color: black;
}

.section-wrapper {
  margin: 0.5rem 0.2rem;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#grid-container-body {
  width: 100%;
}

body {
  font-family: "reallyFree", cursive;
}

#grid-container-body {
  padding: 0.25rem;
}

@media screen and (min-width: 1023px) {
  #grid-container-body {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: "heading heading heading heading" "click-to-play gameboard gameboard gameboard" "scoreboard gameboard gameboard gameboard" "foot foot foot foot";
  }
}
.info-contents {
  color: #fee440;
  font-family: "arbeiBerry", sans-serif;
  position: absolute;
  width: 80%;
  max-width: 50rem;
  max-height: 60vh;
  z-index: 150;
  font-size: 1.2rem;
  text-align: center;
  left: 50%;
  top: 50%;
  padding: 3rem;
  border-style: solid;
  border-color: #fee440;
  border-width: 0.25rem;
  border-radius: 2rem;
  transform: translate(-50%, -50%);
  background-color: #9b5de5;
  box-shadow: 0 0 1.5rem black;
}
.info-contents.hide {
  display: none;
}

@media screen and (min-width: 767px) {
  .info-contents {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1023px) {
  .info-contents {
    font-size: 1.8rem;
  }
}
.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 70rem;
  height: 100%;
  max-width: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
  display: block;
}
.modal.hide {
  display: none;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border: 1rem solid #00bbf9;
  box-shadow: 0 0 0.5rem #00bbf9;
  border-radius: 3rem;
  height: 100%;
  max-height: calc(100vh - 2rem);
  width: 100%;
  background-color: #fff;
  overflow: auto;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background-color: #fee440;
  opacity: 0.9;
  display: block;
}
.modal-backdrop.hide {
  display: none;
}

#welcome-input-form-wrapper {
  margin-bottom: 2rem;
}
#welcome-input-form-wrapper.hide {
  display: none;
}
#welcome-input-form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#welcome-input-form-wrapper #player-names-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#welcome-input-form-wrapper .player-name-wrapper {
  width: 75%;
  max-width: 25rem;
  height: 12rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #00bbf9;
  border-width: 0.25rem;
  border-radius: 50%;
  box-shadow: 0 0 0.5rem black;
  background-color: #00f5d4;
}
#welcome-input-form-wrapper .player-name-wrapper label {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}
#welcome-input-form-wrapper .player-name-wrapper input {
  font-size: 1.5rem;
}
#welcome-input-form-wrapper input {
  text-align: center;
}
#welcome-input-form-wrapper span {
  margin-top: 2rem;
  font-size: 2.5rem;
}
#welcome-input-form-wrapper .choose-difficulty-wrapper {
  width: 75%;
  height: 8rem;
  margin-top: -1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#welcome-input-form-wrapper .choose-difficulty-wrapper label {
  padding: 0.75rem;
  font-size: 1.75rem;
}
#welcome-input-form-wrapper #welcome-modal-error-message1,
#welcome-input-form-wrapper #welcome-modal-error-message2 {
  padding: 1rem;
  text-align: center;
  color: red;
  height: 1rem;
  font-size: 1.5rem;
}
#welcome-input-form-wrapper #welcome-modal-error-message1 {
  margin-top: -0.5rem;
}
#welcome-input-form-wrapper #welcome-modal-error-message2 {
  margin-bottom: 2rem;
  margin-top: 0;
}
#welcome-input-form-wrapper #start-game-button {
  background-color: #00bbf9;
  padding: 1.5rem;
  color: #fee440;
  font-family: "arbeiBerry", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  border-style: solid;
  border-color: #fee440;
  border-width: 0.3rem;
  border-radius: 50%;
  box-shadow: 0 0 1rem black;
  margin-bottom: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  outline: none;
  /* Bounce In CREDIT: https://github.com/IanLunn/Hover/blob/master/css/hover.css*/
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  /* CREDIT: https://css-tricks.com/solving-sticky-hover-states-with-media-hover-hover/ */
}
@media (hover: hover) {
  #welcome-input-form-wrapper #start-game-button:hover {
    outline: none;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
#welcome-input-form-wrapper #start-game-button:focus {
  outline: none;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#welcome-input-form-wrapper #start-game-button:active {
  outline: none;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media screen and (min-width: 767px) {
  #welcome-input-form-wrapper #player-names-container {
    flex-direction: row;
  }
  #welcome-input-form-wrapper .player-name-wrapper {
    height: 20rem;
    margin: 1rem 2rem;
  }
  #welcome-input-form-wrapper .player-name-wrapper label {
    font-size: 4rem;
  }
  #welcome-input-form-wrapper .player-name-wrapper input {
    font-size: 2rem;
  }
  #welcome-input-form-wrapper span {
    font-size: 3.5rem;
  }
  #welcome-input-form-wrapper .choose-difficulty-wrapper label {
    padding: 1rem;
    font-size: 3rem;
  }
}
@media screen and (min-width: 1023px) {
  #welcome-input-form-wrapper .player-name-wrapper {
    margin: 2rem;
  }
}
#gameover-modal .modal-content {
  justify-content: flex-start;
}
#gameover-modal #final-results-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
}
#gameover-modal #final-results-wrapper #winner-result {
  width: 100%;
  margin: 1rem 0.5rem 2rem 0.5rem;
  padding: 5rem 2rem;
  background-color: #00f5d4;
  color: black;
}
#gameover-modal #final-results-wrapper #winner-result span {
  font-size: 3rem;
}
#gameover-modal #final-results-wrapper .player-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #9b5de5;
  border-width: 0.25rem;
  border-radius: 50%;
  box-shadow: 0 0 0.5rem black;
  background-color: #fee440;
  color: #00bbf9;
}
#gameover-modal #final-results-wrapper #player1-result, #gameover-modal #final-results-wrapper #player2-result {
  padding: 3rem;
  margin: 0.5rem 1rem;
  width: 40%;
}
#gameover-modal #final-results-wrapper #player1-result .name, #gameover-modal #final-results-wrapper #player2-result .name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
#gameover-modal #final-results-wrapper #player1-result .score, #gameover-modal #final-results-wrapper #player2-result .score {
  font-size: 3rem;
}
#gameover-modal #gameover-buttons-wrapper {
  align-self: center;
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gameover-modal #gameover-buttons-wrapper button {
  padding: 1.25rem;
  background-color: #00bbf9;
  cursor: pointer;
  color: #fee440;
  margin: 1rem;
  font-family: "arbeiBerry", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  border-style: solid;
  border-color: #fee440;
  border-width: 0.3rem;
  border-radius: 50%;
  box-shadow: 0 0 1rem black;
  /* Bounce In CREDIT: https://github.com/IanLunn/Hover/blob/master/css/hover.css*/
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  /* CREDIT: https://css-tricks.com/solving-sticky-hover-states-with-media-hover-hover/ */
}
@media (hover: hover) {
  #gameover-modal #gameover-buttons-wrapper button:hover {
    outline: none;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
#gameover-modal #gameover-buttons-wrapper button:focus {
  outline: none;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#gameover-modal #gameover-buttons-wrapper button:active {
  outline: none;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#gameover-modal #gameover-header {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.heading {
  font-family: "arbeiBerry", sans-serif;
}

#header-wrapper,
.modal-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 1rem 0.5rem;
}

#main-heading,
.modal-main-heading {
  flex-grow: 3;
  font-size: 2rem;
  text-align: center;
}

#header-info-wrapper,
.modal-header-info-wrapper {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  /* Bounce In CREDIT: https://github.com/IanLunn/Hover/blob/master/css/hover.css*/
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  /* CREDIT: https://css-tricks.com/solving-sticky-hover-states-with-media-hover-hover/ */
}
@media (hover: hover) {
  #header-info-wrapper:hover,
.modal-header-info-wrapper:hover {
    outline: none;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
#header-info-wrapper:focus,
.modal-header-info-wrapper:focus {
  outline: none;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#header-info-wrapper:active,
.modal-header-info-wrapper:active {
  outline: none;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#header-info-wrapper i,
.modal-header-info-wrapper i {
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}
#header-info-wrapper span,
.modal-header-info-wrapper span {
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 380px) {
  #main-heading,
.modal-main-heading {
    font-size: 2.5rem;
  }

  #header-info-wrapper i,
.modal-header-info-wrapper i {
    font-size: 2.75rem;
  }
  #header-info-wrapper span,
.modal-header-info-wrapper span {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 767px) {
  #header-wrapper,
.modal-header-wrapper {
    margin-top: 2rem;
  }

  #main-heading,
.modal-main-heading {
    font-size: 4.5rem;
    flex-grow: 4;
  }

  #header-info-wrapper i,
.modal-header-info-wrapper i {
    font-size: 3.5rem;
  }
  #header-info-wrapper span,
.modal-header-info-wrapper span {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1023px) {
  #header-wrapper {
    grid-area: heading;
    width: 100%;
    margin-bottom: 3rem;
  }

  #main-heading {
    font-size: 4.5rem;
  }

  #header-info-wrapper i {
    font-size: 4rem;
  }
  #header-info-wrapper span {
    font-size: 3rem;
  }
}
#scoreboards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 16rem;
}
#scoreboards-wrapper.hide {
  visibility: hidden;
}
#scoreboards-wrapper .scoreboard-title {
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

.player-scoreboard {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-scoreboard .main-score {
  border-style: solid;
  border-color: black;
  border-width: 0.25rem;
  border-radius: 50%;
  box-shadow: 0 0 0.5rem black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 7rem;
  background-color: #00f5d4;
}
.player-scoreboard .main-score > .value {
  font-size: 4rem;
  position: relative;
  top: -2rem;
}
.player-scoreboard .main-score > .label {
  font-size: 1.5rem;
  position: relative;
  top: -2rem;
}
.player-scoreboard .score-turns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-width: 0.25rem;
  border-radius: 50%;
  box-shadow: 0 0 0.5rem black;
  align-self: flex-start;
  position: relative;
  top: -1rem;
  left: -2rem;
  height: 4rem;
  width: 5rem;
  z-index: 1;
  background-color: #f15bb5;
}
.player-scoreboard .score-turns .value {
  font-size: 1.75rem;
}
.player-scoreboard .score-turns .label {
  font-size: 1.25rem;
}

@media screen and (min-width: 500px) {
  .player-scoreboard .main-score {
    height: 11rem;
    width: 11rem;
  }
  .player-scoreboard .score-turns {
    align-self: flex-start;
    position: relative;
    top: -1rem;
    height: 5rem;
    width: 6rem;
    z-index: 1;
  }
}
@media screen and (min-width: 767px) {
  #scoreboards-wrapper {
    height: 16rem;
  }
  #scoreboards-wrapper .scoreboard-title {
    font-size: 3rem;
  }

  .player-scoreboard .main-score {
    height: 13rem;
    width: 12rem;
  }
  .player-scoreboard .main-score > .value {
    font-size: 6rem;
  }
  .player-scoreboard .main-score > .label {
    font-size: 2rem;
  }
  .player-scoreboard .score-turns {
    height: 6rem;
    width: 7rem;
  }
  .player-scoreboard .score-turns > .value {
    font-size: 2rem;
  }
  .player-scoreboard .score-turns > .label {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1023px) {
  #scoreboards-wrapper {
    grid-area: scoreboard;
    width: 100%;
    height: 20rem;
  }
  #scoreboards-wrapper h4 {
    font-size: 2.75rem;
  }
}
#click-to-play-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-width: 0.25rem;
  border-radius: 50%;
  box-shadow: 0 0 0.75rem black;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 16rem;
  width: 33.333%;
  max-width: 35rem;
  float: left;
  background-color: #9b5de5;
}
#click-to-play-wrapper.hide {
  visibility: hidden;
}
#click-to-play-wrapper #current-player-name {
  font-size: 2.5rem;
  padding: 1rem 1rem 0 1rem;
}
#click-to-play-wrapper #random-number-wrapper {
  height: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f15bb5;
}
#click-to-play-wrapper #random-number-wrapper.pulse {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
#click-to-play-wrapper i {
  font-size: 4rem;
  cursor: pointer;
}
#click-to-play-wrapper i.hide {
  display: none;
}
#click-to-play-wrapper #variable-value {
  font-size: 6rem;
}
#click-to-play-wrapper #variable-value.hide {
  display: none;
}
#click-to-play-wrapper p {
  font-size: 1.5rem;
  padding: 0rem 1rem 1rem 1rem;
  text-align: center;
}

@media screen and (min-width: 550px) {
  #click-to-play-wrapper {
    margin-left: 2.5rem;
  }
}
@media screen and (min-width: 767px) {
  #click-to-play-wrapper {
    height: 18rem;
    width: 40%;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  #click-to-play-wrapper #currentPlayerName {
    font-size: 2rem;
  }
  #click-to-play-wrapper i {
    font-size: 5rem;
  }
  #click-to-play-wrapper p {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1023px) {
  #click-to-play-wrapper {
    grid-area: click-to-play;
    height: 20rem;
    width: 100%;
  }
  #click-to-play-wrapper #currentPlayerName {
    font-size: 3rem;
    padding: 1rem;
  }
  #click-to-play-wrapper i {
    font-size: 6rem;
  }
  #click-to-play-wrapper p {
    font-size: 3rem;
  }
}
#gameboard-wrapper {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
#gameboard-wrapper.hide {
  visibility: hidden;
}

#gameboard-grid-container {
  display: grid;
  width: 100%;
  grid-template: repeat(8, 8rem)/1fr 1fr;
  grid-gap: 0.2rem;
  justify-items: center;
}

.gameboard-grid-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 0.2rem black;
  max-width: 25rem;
  width: 100%;
  box-shadow: 0 0 0.5rem black;
  border: #00f5d4 0.25rem solid;
  background-color: #fee440;
}
.gameboard-grid-item.cursor {
  cursor: pointer;
}
.gameboard-grid-item span {
  font-size: 3rem;
  color: black;
}
.gameboard-grid-item.disabled {
  background-color: rgba(0, 0, 0, 0.2);
}

#gameboard-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #f15bb5;
}
#gameboard-overlay.hide {
  display: none;
}

#gameboard-overlay-content {
  background-color: #00bbf9;
  box-shadow: 0 0 0.5rem black;
  border-style: solid;
  border-color: #fee440;
  border-width: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: calc(100% - 4rem);
  max-width: 50rem;
  margin: 1rem auto;
}
#gameboard-overlay-content h3 {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  font-family: "arbeiBerry", sans-serif;
}
#gameboard-overlay-content #gameboard-active-question span {
  font-size: 3rem;
  padding: 1rem 0.5rem;
  margin-top: 1rem;
}
#gameboard-overlay-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0.5rem;
}
#gameboard-overlay-content form.hide {
  display: none;
}
#gameboard-overlay-content form input {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 2rem;
}
#gameboard-overlay-content form button {
  background-color: #00bbf9;
  padding: 1rem;
  color: #fee440;
  font-family: "arbeiBerry", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  border-style: solid;
  border-color: #fee440;
  border-width: 0.3rem;
  border-radius: 50%;
  box-shadow: 0 0 1rem black;
  margin-bottom: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  outline: none;
  /* Bounce In CREDIT: https://github.com/IanLunn/Hover/blob/master/css/hover.css*/
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  /* CREDIT: https://css-tricks.com/solving-sticky-hover-states-with-media-hover-hover/ */
}
@media (hover: hover) {
  #gameboard-overlay-content form button:hover {
    outline: none;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
#gameboard-overlay-content form button:focus {
  outline: none;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#gameboard-overlay-content form button:active {
  outline: none;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#gameboard-overlay-content #answer-feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gameboard-overlay-content #answer-feedback i {
  font-size: 3rem;
  padding: 0.5rem;
}
#gameboard-overlay-content #answer-feedback span {
  font-size: 2.5rem;
  padding: 0.5rem;
  text-align: center;
}
#gameboard-overlay-content.correct-user-answer {
  background-color: #0ae90a;
}
#gameboard-overlay-content.incorrect-user-answer {
  background-color: #f80404;
}
#gameboard-overlay-content #player-answer-error-message {
  font-size: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  color: red;
}

@media screen and (min-width: 767px) {
  #gameboard-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #gameboard-grid-container {
    grid-template: repeat(4, 10rem)/repeat(4, 1fr);
  }

  #gameboard-overlay {
    width: calc(100% - 2rem);
  }

  #gameboard-overlay-content {
    height: calc(100% - 2rem);
  }

  .gameboard-grid-item span {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1023px) {
  #gameboard-wrapper {
    grid-area: gameboard;
    width: 100%;
    margin-left: 1rem;
  }

  #gameboard-grid-container {
    grid-gap: 0.8rem;
  }

  .gameboard-grid-item span {
    font-size: 2.5rem;
  }
}
#footer-wrapper,
.modal-footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer-wrapper.hide,
.modal-footer-wrapper.hide {
  display: none;
}

#about-trigger-wrapper,
.modal-about-trigger-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.1rem;
  /* Bounce In CREDIT: https://github.com/IanLunn/Hover/blob/master/css/hover.css*/
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  /* CREDIT: https://css-tricks.com/solving-sticky-hover-states-with-media-hover-hover/ */
}
@media (hover: hover) {
  #about-trigger-wrapper:hover,
.modal-about-trigger-wrapper:hover {
    outline: none;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
#about-trigger-wrapper:focus,
.modal-about-trigger-wrapper:focus {
  outline: none;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#about-trigger-wrapper:active,
.modal-about-trigger-wrapper:active {
  outline: none;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#about-trigger-wrapper i,
.modal-about-trigger-wrapper i {
  font-size: 2.5rem;
}
#about-trigger-wrapper span:not(.sr-only),
.modal-about-trigger-wrapper span:not(.sr-only) {
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

#about-content-wrapper,
.modal-about-content-wrapper {
  display: grid;
  grid-template-areas: "dev-portfolio github-repo" "copyright copyright";
  width: 100%;
  height: 10rem;
  border-top: solid black 0.1rem;
  padding-top: 0.5rem;
}
#about-content-wrapper.hide,
.modal-about-content-wrapper.hide {
  display: none;
}
#about-content-wrapper i,
.modal-about-content-wrapper i {
  font-size: 2rem;
  padding: 0.4rem 0;
}
#about-content-wrapper span:not(.sr-only),
.modal-about-content-wrapper span:not(.sr-only) {
  font-size: 1.25rem;
}
#about-content-wrapper a,
.modal-about-content-wrapper a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#about-content-wrapper #dev-portfolio-wrapper,
#about-content-wrapper .modal-dev-portfolio-wrapper,
.modal-about-content-wrapper #dev-portfolio-wrapper,
.modal-about-content-wrapper .modal-dev-portfolio-wrapper {
  grid-area: dev-portfolio;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about-content-wrapper #github-repo-wrapper,
#about-content-wrapper .modal-github-repo-wrapper,
.modal-about-content-wrapper #github-repo-wrapper,
.modal-about-content-wrapper .modal-github-repo-wrapper {
  grid-area: github-repo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about-content-wrapper #copyright-wrapper,
#about-content-wrapper .modal-copyright-wrapper,
.modal-about-content-wrapper #copyright-wrapper,
.modal-about-content-wrapper .modal-copyright-wrapper {
  order: 1;
  padding-top: 1rem;
  grid-area: copyright;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 767px) {
  #about-trigger-wrapper,
.modal-about-trigger-wrapper {
    padding-bottom: 0.2rem;
  }
  #about-trigger-wrapper i,
.modal-about-trigger-wrapper i {
    font-size: 4rem;
  }
  #about-trigger-wrapper span:not(.sr-only),
.modal-about-trigger-wrapper span:not(.sr-only) {
    font-size: 3rem;
    padding: 0 0.5rem;
  }

  #about-content-wrapper,
.modal-about-content-wrapper {
    height: 12rem;
    border-top: solid black 0.2rem;
    padding-top: 0.5rem;
  }
  #about-content-wrapper i,
.modal-about-content-wrapper i {
    font-size: 2.5rem;
    padding: 0.5rem 0;
  }
  #about-content-wrapper span:not(.sr-only),
.modal-about-content-wrapper span:not(.sr-only) {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1023px) {
  #footer-wrapper,
.modal-footer-wrapper {
    grid-area: foot;
    width: 100%;
  }

  #about-trigger-wrapper span:not(.sr-only) {
    font-size: 2rem;
  }

  #about-content-wrapper {
    height: 15rem;
    border-top: solid black 0.3rem;
  }
  #about-content-wrapper span:not(.sr-only) {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
